.followingContainer {
    padding-bottom: 100px;
}

.chatPageHeader {
    display: flex;
    justify-content: space-between;
}

.followCount {
    text-align: right;
    padding-right: 9px;
}

.followHeadline {
    padding-left: 3px;
}

.eachFollowingDisplay {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.followingImg {
    width: 60px;
    height: 60px;
}

.followingImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.followingImgLoading {
    background-color: #DDDDDD;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
  
.followingDetailsLoading {
    background-color: #DDDDDD;
    border-radius: 2%;
    flex: 1 1 0%;
    display: flex;
    height: 60px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.followingDetails {
    flex: 1 1 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.followingDetails p {
    font-weight: 500;
    font-size: large;
}

.unfollowBtn {
    font-weight: 500;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.unfollowBtn-dark {
    background-color: #262626;
    color: white;
    border-radius: 10px;
    border: 0;
}

.unfollowBtn:active {
    transform: translateY(3px);
}

.unfollowBtn-dark:active {
    transform: translateY(3px);
}

.right-dark {
    background-color: black;
}