.followerContainer {
  padding-bottom: 100px;
}

.eachFollowerDisplay {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.followerImgLoading {
  background-color: #DDDDDD;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.followerDetailsLoading {
  background-color: #DDDDDD;
  border-radius: 2%;
  flex: 1 1 0%;
  display: flex;
  height: 60px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.followerImg {
  width: 60px;
  height: 60px;
}

.followerImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.followerDetails {
  flex: 1 1 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.followerDetails p {
  font-weight: 500;
  font-size: large;
}

.unfollowBtn {
  font-weight: 500;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10px;
}
.followBtn {
  font-weight: 500;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10px;
}

.unfollowBtn-dark {
  background-color: #262626;
}
.followBtn-dark {
  background-color: #262626;
}