.form-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
}

.input-label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-label:active {
  transform: translateY(3px);
}

.input-field {
  display: none;
}

.preview-image {
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.submit-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3e8e41;
}

.price-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.price-input {
  width: 80%;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price-display {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.description-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-input {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}