.profileContainer {
    width: 100%;
    height: 100%;
}

.pfpContainer {
    position: relative; 
    padding-top: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: grey;
    border-radius: 100%;
    width: 200px; 
    height: 200px;
    overflow: hidden;
}
.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pf-name {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.pf-bio {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.followButton {
    position: absolute;
    top: 30px;
    right: 20px;
    font-weight: 500;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}
.followButton-dark {
    background-color: #262626;
}

.profileInfo {
    margin-top: 1.5rem;
    padding-left: 15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid grey;
}

.profileInfoSpecific:nth-child(1){
    margin-right: 15px;
}

.profileInfoSpecific {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileInfoSpecific-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
}

.profileInfoSpecific-dark:nth-child(1) {
    padding-left: 25px;
    padding-right: 25px;
}
.profileInfoSpecific-dark p:nth-child(2){
    text-decoration-line: underline;
}

.profileInfoSpecific p {
    font-weight: 500;
}

.profileInfoSpecific p:nth-child(2){
    text-decoration-line: underline;
}

.postsContainer {
    position: "relative";  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; /* three columns */
    grid-auto-rows: minmax(150px, auto);
    flex-wrap: wrap;
    grid-gap: 1px;
    background-color: white;
    margin-bottom: 80px;
}

.postsContainer-dark {
    position: "relative";  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; /* three columns */
    grid-auto-rows: minmax(150px, auto);
    flex-wrap: wrap;
    grid-gap: 1px;
    /* background-color: #000000; */
    background-color:#121212;
    margin-bottom: 80px;
}


.imagePostsContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 150px;
    position: relative;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img-responsive-post {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.editProfilePage {
    /* border: 1px solid red; */
    flex: 1 1 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.editProfileHeader {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: white;
    width: 100%;
    height: 70px;
    position: relative;
}
.editProfileHeader-dark {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color:#121212;
    color: white;
    width: 100%;
    height: 70px;
}
.editProfileHeader p:nth-child(1) {
    font-weight: 500;
}
.editProfileHeader p:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
}
.editProfileHeader p:nth-child(3) {
    color: rgb(37, 99, 235);
    font-weight: 500;
}
.editProfileHeader-dark p:nth-child(1) {
    font-weight: 500;
}
.editProfileHeader-dark p:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
}
.editProfileHeader-dark p:nth-child(3) {
    color: rgb(37, 99, 235);
    font-weight: 500;
}


.editProfileImg {
    position: relative;
}

.editProfileIcon {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #BDCDD6;
    font-size: 60px;
    padding: 10px;
    z-index: 10;
    color: white;
    border-radius: 50%;
}

.editProfileImg img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.editProfileBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.editProfileBody div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.editProfileModal {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    z-index: 20;
}

.editProfileModal-hidden {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 0;
    z-index: 20;
    background-color: white;
}
.blackBg {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.editPicture {
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-timing-function: linear; */
    transition-duration: 1s;
}

@keyframes slideUp {
    from {transform: translateY(200px);}
    to {transform: translateY(0px);}
}

.slideUpAnimation {
    animation-name: slideUp;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
}

.editPicture div {
    position: relative;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editProfileBtns input {
    padding: 15px;
    padding-left: 60px;
}

.editProfileBtns p {
    color: #222222;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 17px;
}
.editProfileBtns:nth-child(2) {
    margin-top: 20px;
}

.hideModal {
    display: none;
}

.profilePageMsgBtn {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 75px;
    left: 15px;
}
